div{
    background-color: brown;
}
#ss{
    background-color: violet;
    color: blueviolet;
}
a:active{
    background-color: blueviolet;
}
a:link{
     color: seagreen;
}
a:hover{
    background-color: yellow;
}